#hander {
  width: 100%;
  height: 100px;
  background-color: brown;
}
#banner{
  width: 100%;
  height: 560px;
  background-color: sandybrown;
}
#main{
  width: 100%;
  height: 1850px;
  background-color: seagreen;
}
#footer{
  width: 100%;
  height: 220px;
  background-color: black;
}