@font-face {
  font-family: "iconfont"; /* Project id 1962894 */
  src: url('iconfont.woff2?t=1623318614806') format('woff2'),
       url('iconfont.woff?t=1623318614806') format('woff'),
       url('iconfont.ttf?t=1623318614806') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e605";
}

.icon-sousuo:before {
  content: "\e623";
}

.icon-wode:before {
  content: "\e658";
}

.icon-icon4:before {
  content: "\e66b";
}

.icon-jiangpin:before {
  content: "\e679";
}

.icon-shouye01:before {
  content: "\e619";
}

.icon-yaowan:before {
  content: "\e61a";
}

.icon-jilu:before {
  content: "\e66c";
}

.icon-gouwuche:before {
  content: "\e636";
}

.icon-liaotian:before {
  content: "\e63c";
}

.icon-daishouhuo:before {
  content: "\e604";
}

.icon-pintuan:before {
  content: "\e60d";
}

.icon-icon-test:before {
  content: "\e67a";
}

.icon-dayuhao:before {
  content: "\e625";
}

.icon-xiaoyufuhao:before {
  content: "\e62c";
}

.icon-jilu2:before {
  content: "\e61b";
}

.icon-shoucang-:before {
  content: "\e61c";
}

.icon-daifahuo:before {
  content: "\e61f";
}

.icon-kehufuwu:before {
  content: "\e607";
}

.icon-shezhi:before {
  content: "\e624";
}

.icon-youhuiquan:before {
  content: "\e614";
}

.icon-new:before {
  content: "\e7d4";
}

.icon-daifukuan:before {
  content: "\e63d";
}

